<header>
  <div class="banner-container">
    <div class="banner-content">
      <div class="name">
        <h1>Tania <span>Rosa</span> Bindhoff</h1>
      </div>
      <div class="voice">
        <h3>Soprano</h3>
      </div>
    </div><!-- end banner content -->
  </div><!-- end banner container -->
  <div class="navbar">
    <div class="nav-buttons">
      <ul>
        <li><div><a href="/">Home</a></div></li>
        <li><div><a href="{{site.baseurl}}/about">About</a></div></li>
        <!-- <li><div><a href="/photos">Photos</a></div></li> -->
        <li><div><a href="{{site.baseurl}}/resumes/performance">Performance</a></div></li>
        <li><div><a href="{{site.baseurl}}/resumes/technical">Technical</a></div></li>
        <li><div><a href="{{site.baseurl}}/schedule">Schedule</a></div></li>
        <li><div><a href="{{site.baseurl}}/contact">Contact</a></div></li>
      </ul>
    </div>
  </div><!-- end navigation -->
</header>
