<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>

    <!-- Main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/includes.css">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
  {% include header.html %}
    {% include card.html %}
  {% include footer.html %}
  </body>
</html>
